.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

img{
  display: inline-block;
  max-width: 100%;
}

.navbar{
  position: -webkit-sticky;
  position: sticky;
  bottom: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 0px;
  background-image: url('nav-bg.jpg');
  background-color: transparent;
  background-position: 50% 100%;
  background-size: cover;
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur();
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.w-nav{
  background-color: #dddddd;
  z-index:1000;
}

.container{
  position: sticky;
  display: block;
  margin-top: 12px;
  margin-bottom: 3px;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  opacity: 1;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: transparent;
}

.w-container{
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
}

.nav-menu{
  display: flex;
  float: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.w-nav-menu{
  position: relative;
}

.nav-link{
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  border-color: transparent;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 20px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

/*.w-nav-link{
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 20px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}*/

.dropdown{
  display: block;
  position: relative;
  margin-right: 35px;
}

.dropdown-list{
  position: absolute;
  color: black;
  right: 0;
  left:0;
  position: absolute;
  background-color: #edeff2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
}

.dropdown.active > .text-block + .dropdown-list{
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

/*.dropdown-list .w--open{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}*/

.dropdown-link{
  color: black;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 8px;
  margin-top: 10px;
  text-decoration: none;
}

/*.dropdown-toggle{
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}*/

/*.w-dropdown-list{
  content: "\e603";
  position: absolute;
  background-color: #edeff2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0;
}*/

/*.w-dropdown-toggle{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
  text-align: left;
  white-space: nowrap;
}

.w-dropdown{
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
}

.dropdown-toggle{
  box-shadow: none;
}*/

.brand{
  color: transparent;
}

.w-nav-brand{
  position: relative;
  text-decoration: none;
}

.brand.w--current{
  background-color: transparent;
}

/*.icon{
  color: #fff;
  content: url("logo.svg");
}

.w-icon-dropdown-toggle{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-right: 20px;
  width: 1em;
  height: 1em;
}*/

.text-block{
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  padding: 15px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}