
body {
  margin: 0;
  font-family: "Helvetica",sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, h1, h2, h3, h4, h5, h6{
  font-family: "TradeGothic",sans-serif; /* header font from psyche website*/
}

/* I believe this is unused*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  /*-khtml-user-select: none;*/
  -moz-user-select: none;
  -ms-user-select: none;
  /*-o-user-select: none;*/
  user-select: none;
}


/* Div element that which holds the primary canvas element */
#root {
  position: relative; /* MUST be relative so that buttons can be positioned relative to it */
  overflow: hidden; /*hide elements that move offscreen from within this container*/
}

.canvas{
  /* alternative */
  position: absolute;
  /*height: 90vh;*/
  /*min-height: 350px;*/
  /* width: 60vw; */
  /* min-width: 60vw; */
  top: 0vh;
  /* bottom: 0; */
  left: 0vw;
  /* right: 20vw; */
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;

  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.fade-out {
  animation: fadeOut ease 3s;
  -webkit-animation: fadeOut ease 3s;
  -moz-animation: fadeOut ease 3s;
  -o-animation: fadeOut ease 3s;
  -ms-animation: fadeOut ease 3s;

  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}

.baseCathode{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#spaceshipImage{
  height: 80vh;
  min-height: 350px;
}

.CathodeHitBox_zoomed_in{
  background-color: transparent;
  border: none;
  position: absolute;
  top: auto;
  bottom: 15%;
  left: auto;
  right: 35%;

  width: 33vw;
  height: 33vh;

  z-index: 10;
}
.CathodeHitBox_zoomed_in:hover{
  /*box-shadow: 0 5px 15px rgba(145, 92, 182, .4);*/
}

.CathodeHitBox_zoomed_out{
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5%;
  left: 25%;

  width: 15vw;
  height: 15vh;

  z-index: 10;
}

.CathodeHitBox_zoomed_out:hover{
  /*box-shadow: 0 5px 15px rgba(145, 92, 182, .4);*/
}

#hallThruster{
  position: absolute;

  height: 150vh; /* linked a0 */
  top: -12vh; /* linked a0 */
  left: -8vw; /* linked a0 */

  z-index: 0;
}

#hallThrusterOn-fadeIn{
  position: absolute;

  display: none;
  
  height: 150vh; /* linked a0 */
  top: -12vh; /* linked a0 */
  left: -8vw; /* linked a0 */

  z-index: 0;
}

#hallThrusterOn-fadeOut{
  position: absolute;

  display: none;
  
  height: 150vh; /* linked a0 */
  top: -12vh; /* linked a0 */
  left: -8vw; /* linked a0 */

  z-index: 0;
}

/* CLASS for animation for zooming on on cathode from hall thruster */
.hallThrusterToCathodeZoom{
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  animation-duration: 2.8s;
  animation-timing-function: ease-in-out;
  animation-name: cathodeZoomIn;
}

@keyframes cathodeZoomIn {
  from {
    transform: rotate(0deg) scale(1.0);
    top: -12vh; /* linked a0 */
    left: -6vw; /* linked a0 */
  }
  to
  {
    transform: rotate(-15deg) scale(4.0); /* linked b1 */
    top: 185vh; /* linked b1 */
    left: 20vw; /* linked b1 */
  }
}

#shellToCrossZoom{
  position: absolute;

  display: none;

  height: 150vh; /* linked a0 */

  z-index: 0;

  transform: rotate(-15deg) scale(4.0); /* linked b1 */
  top: 185vh; /* linked b1 */
  left: 20vw; /* linked b1 */
}

.shellToCrossZoomAnimationClass{
  animation-fill-mode: forwards; /* forward basically keep changes at end of animation */
  animation-delay: 0.1s; /* 0.1 because if 0 I get the annoying "unit is redundant bcz zero" warning */
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-name: shellToCrossZoomAnimation;
  /*animation-direction: alternate;*/
}

@keyframes shellToCrossZoomAnimation {
  from {
    transform: rotate(-15deg) scale(4.0); /* linked b1 */
    top: 185vh; /* linked b1 */
    left: 20vw; /* linked b1 */
  }
  to
  {
    transform: rotate(-15deg) scale(6.0); /* linked c2 */
    top: 281vh; /* linked c2 */
    left: 16vw; /* linked c2 */
  }

}


#thrusterAndCathode-fadeOut{
  transform: rotate(-15deg) scale(6.0); /* linked c2 */

  height: 150vh; /* linked a0 */

  top: 281vh; /* linked c2 */
  left: 16vw; /* linked c2 */
}

/* unknown? */
.thrusterAndCathode-finalPosition{
  position: absolute;

  z-index: 0;

  top: -5vh;
  height: 355vh;
  left: -42vw;
  transform: rotate(-28deg);
}

#zoomedShellPos{
  transform: rotate(-15deg) scale(6); /* linked c2 */
  top: 281vh; /* linked c2 */
  left: 16vw; /* linked c2 */
}

#shellFadeOut{
  position: absolute;
  display: none;

  transform: rotate(-15deg) scale(6.0); /* linked c2 */

  height: 150vh; /* linked a0 */

  top: 281vh; /* linked c2 */
  left: 16vw; /* linked c2 */
}

.shell-fade-out {
  transform: rotate(-15deg) scale(5.0); /* linked c2 */

  height: 150vh; /* linked a0 */

  top: 281vh; /* linked c2 */
  left: 16vw; /* linked c2 */


  animation: shellFade ease 3s;
  /*animation-delay: 4s;*/
  -webkit-animation: shellFade ease 3s;
  -moz-animation: shellFade ease 3s;
  -o-animation: shellFade ease 3s;
  -ms-animation: shellFade ease 3s;

  animation-fill-mode: forwards;
}
@keyframes shellFade {
  from {
    opacity: 1;
    height: 150vh; /* linked a0 */

    top: 281vh; /* linked c2 */
    left: 16vw; /* linked c2 */
  }
  to {
    opacity:0;
    height: 150vh; /* linked a0 */

    top: 281vh; /* linked c2 */
    left: 16vw; /* linked c2 */
  }
}


/*// Layering //*/

#canvas0{
  /*border: 1px rgba(255, 0, 0, 0.23);*/
  /*transform: translate(85px, 96px) rotate(15deg);*/
  z-index: 0;
}

#canvas1{
  /*border: 1px rgba(0, 0, 255, 0.35);*/
  z-index: 1;
}

#canvas2{
  /*border: 1px solid green;*/
  z-index: 2;
}

#canvas3{
  /*border: 1px solid white;*/
  z-index: 3;
}

#canvas4{
  /*border: 1px solid mediumpurple;*/
  z-index: 4;
}

#canvas5{
  /*border: 1px solid orange;*/
  z-index: 5;
}

#canvas6{
  /*border: 1px solid orange;*/
  z-index: 6;
}

#canvas7{
  /*border: 1px solid orange;*/
  z-index: 7;
}
/*//*/

/*// Buttons //*/

/* Show active when toggled */
#HeatInsertToggle.active{
  background-color: #d55f83; /* #282c34 */
}
#GasFeedToggle.active{
  background-color: #d55f83; /* #a83c5c */
}
#KeeperElectrodeToggle.active{
  background-color: #d55f83; /* #912747 #a83c5c */
}
#autoToggleButton.active{
  background-color: #d55f83; /* #912747 #a83c5c */
}

/* Positioning classes */
/* vertically stack a div of buttons */
/* use with bottom__align to align the group */
.stackedButtonGroup{
  position: absolute;
  display: flex;
  flex-direction: column;

  z-index: 10;
}

/* align a button group to the bottom right */
.stackedButtonGroup.bottomrightAlign{
  right: 18vw;
  bottom: 1vh;
  align-items: flex-end;
}

/* align a button group to the bottom left */
.stackedButtonGroup.bottomleftAlign{
  left: 18vw;
  bottom: 1vh;
  align-items: flex-start;
}

/* align a button group to the bottom center */
.stackedButtonGroup.bottomCenterAlign{
  bottom: 1vh;
  align-items: flex-start;
}

/* defines spacing between buttons */
.stackedButtonGroup > button{
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
/*//*/


/*// Landing Page //*/
/* landing page title */
.stackedButtonGroup.landingPageTitleAlign{
  top: 10vh;
  left: 7vw;
  align-items: flex-start;
}

/* landing page subtitle */
.stackedButtonGroup.landingPageSubTitleAlign{
  top: 17vh;
  left: 10vw;
  align-items: flex-start;
}

/* landing page learning mode prompt */
.stackedButtonGroup.landingPageLModePromptAlign{
  bottom: 17vh;
  right: 19vw;
  align-items: flex-start;
}

/* (landing page spacecraft) */
#spacecraft_image{
  height: 80vh;
  width: 85%;
  min-height: 350px;
  visibility: visible;
}

/*//*/



.guideText{
  color: #a83c5c;
  font-size: 1.2em;
}

.thrusterGuideText{
  color: #a83c5c;
  font-family: "Courier New";
  font-size: 1.2em;
}



/*// Particle Key / Guide //*/
/* Position */
#particleKey{
  /*position: absolute;*/
  /*top: 10vh;*/
  /*left: 20vw;*/

  padding-bottom: 2vh;

  display: none;

  z-index: 10;
}

.electronKey{
  height: 4.8vh;
  padding: 2%;
}

.xenonKey{
  height: 8vh;
  padding: 2%;
}


.mrow{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.mmrow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mcolumn{
  /*display: inline-flex;*/
  flex: available;
  /*flex: 50%;*/
  padding: 3px;
}

.keyLabel{
  width: 100%;
  font-size: calc(2vmin);
}

/*//*/